.navbar {
  height: 100vh;
  width: 17%;
  text-align: center;
  position: fixed !important;
}
.navbar .nav-item {
  margin-right: 0;
}

@media (max-width: 768px) {
  .navbar {
    height: 30px;
    width: 100vw;
    text-align: center;
    position: relative;
  }
}