.navbar {
  height: 100vh;
  text-align: center;
  position: fixed;
}
.navbar .nav-item {
  margin-right: 0;
}

@media (max-width: 768px) {
  .navbar {
    z-index: 10;
    height: 30px !important;
    width: 100vw;
    text-align: center;
    position: relative;
  }
}